<module>
<name>blocknotepad</name>
<displayName>NotePad Module</displayName>
<version>1.0.0</version>
<description>This module updates the Bazaarek with the latest updates from Github repository.</description>
<author>Jaideep Bhoosreddy</author>
<tab>front_office_features</tab>
<confirmUninstall>Are you sure you want to delete this module?</confirmUninstall>
<is_configurable>1</is_configurable>
<need_instance>1</need_instance>
<limited_countries/>
</module>
